{% extends 'base.html' %}

{% block title %}Кабинет арендатора{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Кабинет арендатора</h1>
    <div class="alert alert-info">
        <p>Добро пожаловать! Здесь вы можете искать недвижимость для аренды и управлять своими бронированиями.</p>
    </div>

    <div class="row d-flex justify-content-between">
        <!-- Доступные объявления -->
        <div class="col-md-4 d-flex">
            <div class="card flex-fill d-flex flex-column">
                <div class="card-body text-center">
                    <h5 class="card-title">Доступные объявления</h5>
                    <p class="card-text">Посмотрите список доступной недвижимости для аренды.</p>
                </div>
                <div class="card-footer mt-auto text-center">
                    <a href="{% url 'listing_list' %}" class="btn btn-primary">Просмотреть объявления</a>
                </div>
            </div>
        </div>
        <!-- Мои бронирования -->
        <div class="col-md-4 d-flex">
            <div class="card flex-fill d-flex flex-column">
                <div class="card-body text-center">
                    <h5 class="card-title">История бронирований</h5>
                    <p class="card-text">Просмотрите историю ваших бронирований.</p>
                    <a href="{% url 'booking_history_tenant' %}" class="btn btn-info">История</a>
                </div>
                <div class="card-footer mt-auto text-center">
                    <a href="{% url 'booking_list_tenant' %}" class="btn btn-secondary">Управлять бронированиями</a>
                </div>
            </div>
        </div>
        <!-- Редактирование профиля -->
        <div class="col-md-4 d-flex">
            <div class="card flex-fill d-flex flex-column">
                <div class="card-body text-center">
                    <h5 class="card-title">Редактировать профиль</h5>
                    <p class="card-text">Обновите свои личные данные, такие как ФИО, номер телефона или email.</p>
                </div>
                <div class="card-footer mt-auto text-center">
                    <a href="{% url 'edit_profile' %}" class="btn btn-success">Редактировать профиль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
